<header class="fixed top-0 z-50 w-full text-xs lg:text-sm font-semibold lg:font-medium text-white shadow bg-gray-900">
  <div class="flex justify-between items-center w-full h-16 max-w-[100rem] mx-auto px-4 sm:px-8">
    <%= link_to 'TWire', root_path%>
    <nav class="flex items-center">
        <% if user_signed_in?%>
          <%= nav_link_to 'Home', root_path %>
          <%= nav_link_to 'Profile', user_path(current_user) %>
          <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'group grid gap-x-2 gap-y-1 grid-cols-1 lg:grid-cols-auto-span items-center justify-items-center lg:justify-items-start mx-1 px-3 py-2 rounded-lg bg-transparent hover:bg-[#25263D] focus:bg-[#25263D] whitespace-nowrap' %>
        <% else %>
          <%= nav_link_to 'Sign in', new_user_session_path %>
          <%= nav_link_to 'Sign up', new_user_registration_path %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>