<div class="flex justify-between pb-4">
  <h1 class="block text-lg font-medium text-gray-700"><%= user.email %></h1>
  <% if current_user.id != user.id %>
    <%= button_to((current_user.follows?(@user.id) ? 'Unfollow' : 'Follow'), user_follow_path(@user), method: :patch, class: 'inline-flex items-center justify-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 ml-2') %>
  <% end %>
</div>
<div class="flex justify-between">
  <div class="flex flex-col items-center">
    <strong>Followers</strong>
    <span><%= user.followers.count%></span>
  </div>
  <div class="flex flex-col items-center">
    <strong>Following</strong>
    <span><%= user.followings.count%></span>
  </div>
  <div class="flex flex-col items-center">
    <strong>Messages</strong>
    <span><%= user.messages.count%></span>
  </div>
</div>